---
extends: default

rules:
  line-length:
    max: 120
    level: warning
  document-start: disable
  comments:
    min-spaces-from-content: 1
  trailing-spaces: enable
  indentation:
    spaces: 2
    indent-sequences: true
